@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  margin-top: 48px;
  transition: .3s
}

@media only screen and (min-width:992px) and (max-width:1199px) {
  .header-wrapper {
    margin-top: 30px
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .header-wrapper {
    margin-top: 20px
  }
}

@media only screen and (max-width:767px) {
  .header-wrapper {
    margin-top: 20px
  }
}

@media only screen and (max-width:575px) {
  .header-wrapper {
    margin-top: 20px
  }
}


/* 吸顶效果 */
.sticky-header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  margin-top: 0;
  background-color: #fff;
  box-shadow: 10px 0 49px rgba(25, 7, 89, 0.08);
  transition: .3s
}

.sticky-header.sticky .main-menu>ul>li>a {
  line-height: 90px
}

.sticky-header.sticky .social-icon li a {
  line-height: 80px
}

.sticky-header.sticky .header-button {
  line-height: 80px
}